@model ElcutCRM.Data.Models.History
@using ElcutCRM.Helpers;
@using ElcutCRM.Data.Models;

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h3>
        Добавить запись</h3>
</div>
<div class="modal-body">
    @using (Html.BeginForm("AddHistory", "Clients", FormMethod.Post, new { @class = "form-horizontal", id = "addHistoryForm" }))
    {
        @Html.HiddenFor(x => x.OrganizationID)
        <div class="control-group">
            @Html.LabelFor(x => x.EventKey, new { @class = "control-label" })
            <div class="controls">
                @Html.DictionaryDropDown(x => x.EventKey, DictionaryEntry.HISTORY_DICTIONARY)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(x => x.EventDate, new { @class = "control-label" })
            <div class="controls">
                <div class="input-append date">
                    <input data-format="dd.MM.yyyy hh:mm:ss" type="text" name="EventDate" value="@DateTime.Now.ToString()" />
                    <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="document.getElementById('addHistoryForm').submit()">
        Сохранить</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
        Закрыть</button>
</div>
